* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a.topic {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.container a:visited {
  color: rgb(255, 255, 255);
}

a.card-link {
  color: rgb(0, 0, 0);
}

a.card-link:visited {
  color: rgb(0, 0, 0);
}

a.card,
a.card:hover {
  color: inherit;
}

a.check-link {
  color: #5B8FB9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  padding: 32px;
  opacity: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;

}

.topic {
  font-size: 32px;
  font-weight: 600;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  border-bottom: 2px solid transparent;
}

nav ul li:hover {
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}

.home-section {
  background: url(img/home.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: rgb(5, 5, 5);
  display: grid;
  place-items: center;
  text-align: center;
}

.home-section h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.categories-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  place-items: center;
  text-align: center;
}

.categories-section h1 {
  font-size: 60px;
  padding-top: 120px;
  padding-bottom: 10px;
}

.ddcategory,
.form-control {
  max-width: 500px;
  background-color: #f5f5f5;
  color: #242424;
  padding: .25rem .25rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.ddcategory:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.ddcategory:hover {
  outline: 1px solid lightgrey;
}

button.search {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 5px;
  background-color: #5B8FB9;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button.search:hover {
  background-color: #96c4ea;
  transform: scale(1.1);
}

.card {
  margin: 10px;
  max-width: 300px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.singers-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.singers-section h1 {
  font-size: 60px;
  color: #242424;
  padding-top: 120px;
  padding-right: 15px;
  text-align: center;
}

.contact-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 120px;
}

.contact-section h1 {
  font-size: 40px;
  text-align: center;
}

.profile-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-section h1 {
  font-size: 40px;
  padding-top: 120px;
  padding-bottom: 50px;
  text-align: center;
}

.login-signup {
  background: url(img/register.jpg) repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.login-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  place-items: center;
  text-align: center;
  margin-top: 150px;

}

.login-section h1 {
  font-size: 40px;
  padding-bottom: 50px;
}

.signup-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  place-items: center;
  text-align: center;
}

.signup-section h1 {
  font-size: 40px;
  padding-bottom: 50px;
}

.form {
  background-color: white;
  padding: 60px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}